<StackLayout
	class="main-container">
		<StackLayout
			class="content-container">
			<Label
				text="Schedule Appointed"
				class="content-title"></Label>
			<ListView [items]="schedules" class="list-group">
				<ng-template let-schedule="item" let-i="index" let-odd="odd" let-even="even">
					<GridLayout columns="*, 150" class="list-group-item">
						<Label col="0" [text]="schedule.time" class="list-text"></Label>
						<Label col="1" [text]="schedule.title" class="list-text"></Label>
					</GridLayout>
				</ng-template>
			</ListView>
			<Label
				text="Add Schedule"
				class="content-title"></Label>
<!-- 			<Label
				text="Time"
				class="content-subtitle"></Label> -->
			<TextView
				[(ngModel)]="addScheduleTime"
				hint="Enter the time for new schedule"
				returnKeyType="send"
				(returnPress)="submit($event)"
				[editable]="editState"
				class="input input-border"
				(tap)="setScheduleTime()">
			</TextView>
			<TimePicker
				*ngIf="addTimeReady"
				(loaded)="onPickerLoaded($event)"
				verticalAlignment="center"
				class="m-15 schedule-time-picker"></TimePicker>
<!-- 			<Label
				text="Title"
				class="content-subtitle"></Label> -->
			<TextView
				[(ngModel)]="addScheduleTitle"
				hint="Enter the title for new schedule"
				returnKeyType="send"
				(returnPress)="submit($event)"
				[editable]="editState"
				class="input input-border">
			</TextView>
			<GridLayout
				class="button">
				<Label
					text="Add Schedule"
					class="button-text"></Label>
			</GridLayout>
		</StackLayout>
</StackLayout>
