.main-container {
  background-image: url("res://bg_login");
  /*background-color: white;*/
  opacity: 0.8;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header {
	height: 60;
	width: 100%;
}

.tab-view {
	/*background-color: black;*/
	font-size: 20
	tab-text-color: blue;
	selected-tab-text-color: red;
	android-selected-tab-text-color: red;
	tabs-background-color: red;
	selected-color: green;
}

.page-title {
  horizontal-align: center;
	vertical-align: center;
	font-size: 32;
	font-weight: bold;
	margin-top: 20;
	color: white;
}

.tab {
	background-color: red;
}
